<div id="<%= dom_id climber %>">
  <p>
    <strong>Bio:</strong>
    <%= climber.bio %>
  </p>

  <p>
    <strong>Is staff:</strong>
    <%= climber.is_staff %>
  </p>

  <p>
    <strong>Boulder:</strong>
    <%= climber.boulder %>
  </p>

  <p>
    <strong>Top rope:</strong>
    <%= climber.top_rope %>
  </p>

  <p>
    <strong>Lead:</strong>
    <%= climber.lead %>
  </p>

  <p>
    <strong>Vertical:</strong>
    <%= climber.vertical %>
  </p>

  <p>
    <strong>Slab:</strong>
    <%= climber.slab %>
  </p>

  <p>
    <strong>Overhang:</strong>
    <%= climber.overhang %>
  </p>

  <p>
    <strong>Beginner:</strong>
    <%= climber.beginner %>
  </p>

  <p>
    <strong>Intermediate:</strong>
    <%= climber.intermediate %>
  </p>

  <p>
    <strong>Advanced:</strong>
    <%= climber.advanced %>
  </p>

  <p>
    <strong>Sport:</strong>
    <%= climber.sport %>
  </p>

  <p>
    <strong>Trad:</strong>
    <%= climber.trad %>
  </p>

  <p>
    <strong>Indoor:</strong>
    <%= climber.indoor %>
  </p>

  <p>
    <strong>Outdoor:</strong>
    <%= climber.outdoor %>
  </p>

</div>
