<p style="color: green"><%= notice %></p>

<%= render @climber %>

<% if current_user != @climber.user && !current_user.friends_with?(@climber.user) && !current_user.already_sent_request?(@climber.user) %>
  <%= form_with url: friend_requests_path, method: :post do |form| %>
    <%= form.hidden_field :receiver_id, value: @climber.user.id %>
    <%= form.submit "Send Friend Request", class: "btn btn-primary" %>
  <% end %>
<% end %>

<% if @climber.user.is_public || current_user == @climber.user || current_user.friends_with?(@climber.user) %>


<div class="text-center mb-3">
  <h5><%= display_username(@climber.user) %>'s Availabilities</h5>
</div>


<%= month_calendar(header: {class: 'calendar-heading'}) do |date| %>
  <div class="card mb-3 calendar-cell">
    <div class="card-header">
      <%= date.strftime("%d") %>
      <%= link_to raw('<i class="fas fa-calendar-plus"></i>'), new_availability_path(start_date: date.to_date) %>

    </div>
    <div class="card-body">
      <% day_availabilities = @climber.user.availabilities.select { |a| a.start_time.to_date == date }.sort_by(&:start_time) %>
      <% day_availabilities.each do |availability| %>
        <p class="mb-1">
          <%= link_to availability.event_name, availability_path(availability), class: "text-dark" %>
          <small class="text-muted"><%= availability.start_time.strftime("%I:%M %p") %></small>
        </p>
      <% end %>
    </div>
  </div>
<% end %>

<% end %>

<div>
  <% if policy(@climber).edit? %>
    <%= link_to 'Edit', edit_climber_path(@climber) %> |
  <% end %>
  
  <%= link_to "Back to climbers", climbers_path %>

</div>
