<p style="color: green"><%= notice %></p>

<div class="row">
  <!-- Accepted Friend Requests -->
  <div class="col-md-4" style="margin-top: 30px;">
    <h2>Accepted Friend Requests</h2>
    <div class="list-group">
      <% @accepted_requests.each do |request| %>
        <div class="list-group-item" style="display: flex; justify-content: space-between; align-items: center;">
          <% friend = request.sender == current_user ? request.receiver : request.sender %>
          <span><%= friend.username %></span>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Received Friend Requests -->
  <div class="col-md-4" style="margin-top: 30px;">
    <h2>Received Friend Requests</h2>
    <div class="list-group">
      <% @received_requests.each do |request| %>
        <div class="list-group-item" style="display: flex; justify-content: space-between; align-items: center;">
          <span><%= request.sender.username %></span>
          <div>
            <%= link_to 'Accept', friend_request_path(request), method: :patch, class: "btn btn-success" %>
            <%= link_to 'Decline', friend_request_path(request), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- Sent Friend Requests -->
  <div class="col-md-4" style="margin-top: 30px;">
    <h2>Sent Friend Requests</h2>
    <div class="list-group">
      <% @sent_requests.each do |request| %>
        <div class="list-group-item" style="display: flex; justify-content: space-between; align-items: center;">
          <span><%= request.receiver.username %></span>
          <div>
            <%= link_to 'Cancel', friend_request_path(request), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-warning" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
