<div id="<%= dom_id availability %>">
  <p>
    <strong><%= availability.event_name %></strong>
    
  </p>

  <p>
    <strong>Start:</strong>
    <%= availability.start_time %>
  </p>

  <p>
    <strong>End: &nbsp; </strong>
    <%=availability.end_time %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= availability.user.username %>
  </p>

</div>
