<div id="<%= dom_id availability %>">
  <p>
  <strong style="font-size: larger;"><%= availability.event_name %></strong>
</p>


<p>
  <i class="fas fa-play-circle"></i> 
  <span class="avail-date"><%= availability.start_time.strftime("%b %d, %Y") %></span>
  <span class="avail-time"><%= availability.start_time.strftime("%I:%M %p") %></span>
</p>

<p>
  <i class="fas fa-stop-circle"></i>
  <span class="avail-date"><%= availability.end_time.strftime("%b %d, %Y") %></span>
  <span class="avail-time"><%= availability.end_time.strftime("%I:%M %p") %></span>
</p>



  <p>
    <strong>Host:</strong>
    <%= availability.user.username %>
  </p>

</div>
