<div id="<%= dom_id availability %>">
  <p>
    <strong>Event name:</strong>
    <%= availability.event_name %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= availability.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= availability.end_time %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= availability.user.username %>
  </p>

</div>
