<p style="color: green"><%= notice %></p>

<h1>Climb Times</h1>

<%= month_calendar do |date| %>
  <div class="card mb-3">
    <div class="card-header">
      <%= date.strftime("%m / %d / %y") %>
      <%= link_to "Create!", new_availability_path(start_date: date.to_date) %>
    </div>
    <div class="card-body">
      <% day_availabilities = @availabilities.select { |a| a.start_time.to_date == date }.sort_by(&:start_time) %>
      <% day_availabilities.each do |availability| %>
        <p class="mb-1">
          <%= link_to availability.event_name, availability_path(availability), class: "text-dark" %>
          <small class="text-muted"><%= availability.start_time.strftime("%I:%M %p") %></small>
        </p>
      <% end %>
    </div>
  </div>
<% end %>


<div id="availabilities">
  <% @availabilities.each do |availability| %>
    <%= render availability %>
    <p>
      <%= link_to "Show this availability", availability %>
    </p>
  <% end %>
</div>

<%= link_to "New availability", new_availability_path %>
