<div class="container">
  <p style="color: green"><%= notice %></p>

  <div style="text-align: center;">

    <h1>Climb Times</h1>

    <%= link_to '#', class: 'btn btn-primary', data: { bs_toggle: 'collapse', bs_target: '#filterForm' } do %>
      <i class="fas fa-search"></i>
    <% end %>

    <div id="filterForm" class="collapse">
      <%= search_form_for @q do |f| %>

        <div class="col">
          <%= f.label :user_username_cont, "Host " %>
          <%= f.search_field :user_username_cont, placeholder: "Search Host" %>
        </div>
        <div class="col">
          <%= f.label :event_requests_user_username_cont, "Guest" %>
          <%= f.search_field :event_requests_user_username_cont, placeholder: "Search Guest" %>
        </div>
        <div class="col">
          <%= f.label :event_name_cont, "Event" %>
          <%= f.search_field :event_name_cont, placeholder: "Search Event" %>
        </div>

        <%= f.submit "Filter", class: 'btn btn-success' %>
      <% end %>

    </div>

  </div>

  <%= month_calendar(header: {class: 'calendar-heading'}) do |date| %>
    <div class="card mb-3">
      <div class="card-header">
        <%= date.strftime("%d") %>
        <%= link_to raw('<i class="fas fa-calendar-plus"></i>'), new_availability_path(start_date: date.to_date) %>

      </div>
      <div class="card-body">
        <% day_availabilities = @availabilities.select { |a| a.start_time.to_date == date }.sort_by(&:start_time) %>
        <% day_availabilities.each do |availability| %>
          <p class="mb-1">
            <%= link_to availability.event_name, availability_path(availability), class: "text-dark" %>
            <small class="text-muted"><%= availability.start_time.strftime("%I:%M %p") %></small>
          </p>
        <% end %>
      </div>
    </div>
  <% end %>
