<p style="color: green"><%= notice %></p>

<%= render @availability %>

<div>
  <%= link_to "Edit this availability", edit_availability_path(@availability) %> |
  <%= link_to "Back to availabilities", availabilities_path %>

  <%= button_to "Destroy this availability", @availability, method: :delete %>
</div>


<% if current_user && @availability.user != current_user %>
  <% unless @availability.event_requests.exists?(user: current_user) %>
    <%= form_for(current_user.event_requests.new, url: event_requests_path, remote: true) do |f| %>
      <%= f.hidden_field :availability_id, value: @availability.id %>
      <%= f.submit "Join this Event", id: "join-event-button" %>
    <% end %>
  <% end %>
<% end %>


<h3>Guests</h3>
<ul id="guest_requests_list" style="list-style-type: none;">
  <% @event_requests.each do |event_request| %>
    <li id="event_request_<%= event_request.id %>">
      <%= render partial: 'event_request', locals: { event_request: event_request } %>
      <% if event_request.status == 'pending' && @availability.user == current_user %>
        <%= button_to 'Accept', accept_event_request_path(event_request), method: :post, remote: true, class: 'accept-button', data: { turbo: false } %>
        <%= button_to 'Reject', reject_event_request_path(event_request), method: :post, remote: true, class: 'reject-button', data: { turbo: false } %>
      <% end %>
    </li>
  <% end %>
</ul>

<h3>Description</h3>
<% @availability.comments.each do |comment| %>
  <% if comment.user == @availability.user %>
    <p>
      <%= comment.body %>
      <% if current_user == comment.user %>
        <%= button_to 'Delete', 
              availability_comment_path(@availability, comment),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  <% end %>
<% end %>

<h3>Comments</h3>
<% @availability.comments.each do |comment| %>
  <% unless comment.user == @availability.user %>
    <p>
      <%= comment.user.username %>: <%= comment.body %>
      <% if current_user == comment.user %>
        <%= button_to 'Delete', 
              availability_comment_path(@availability, comment),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      <% end %>
    </p>
  <% end %>
<% end %>

<%= form_for([@availability, @availability.comments.new]) do |f| %>
  <%= f.text_area :body %>
  <%= f.submit "Post Comment" %>
<% end %>
