<p style="color: green"><%= notice %></p>
<div class="container mt-3">

  <div class="row">
    <div class="col-md-8">

      <div class="container">

        <%= render @availability %>

        <div class="row">

          <!-- Accepted Guests -->
          <div class="col" style="padding-bottom: 10px;">

            <% if current_user && @availability.user != current_user %>
              <% unless @availability.event_requests.exists?(user: current_user) %>
                <%= form_for(current_user.event_requests.new, url: event_requests_path, remote: true, class: 'd-flex justify-content-end') do |f| %>
                  <%= f.hidden_field :availability_id, value: @availability.id %>
                  <%= button_tag(type: "submit", class: "btn btn-primary", id: "join-event-button") do %>
                    <i class="fas fa-user-plus"></i>Request to Join
                  <% end %>
                <% end %>
              <% end %>
            <% end %>

            <% if current_user %>
              <% current_user_event_request = @event_requests.find { |er| er.user_id == current_user.id } %>
              <% if current_user_event_request && current_user_event_request.status == 'pending' %>
                <button type="button" class="btn btn-secondary" disabled>Pending</button>

              <% end %>
            <% end %>
            <div class="row">
              <h4 id="accepted_header"> Participants(<%= @event_requests.count { |er| er.status == 'accepted' } %>)</h4>
            </div>

            <ul class="list-group" id="accepted_guests_list">
              <% @event_requests.select { |er| er.status == 'accepted' }.each do |event_request| %>
                <li class="list-group-item" id="event_request_<%= event_request.id %>">
                  <%= link_to event_request.user.username, climber_path(event_request.user.climber) if event_request.user.climber %>
                </li>
              <% end %>
            </ul>

          </div>

          <!-- Pending Guests -->
          <% if current_user == @availability.user %>
            <div class="col" style="padding-bottom: 10px;">
              <% pending_requests = @event_requests.select { |er| er.status == 'pending' } %>

              <h4>Pending</h4>
              <div class="card">
                <div class="card-body">
                  <table class="table">

                    <tbody>
                      <% pending_requests.each do |event_request| %>
                        <tr id="event_request_<%= event_request.id %>">
                          <td>
                            <%= link_to event_request.user.username, climber_path(event_request.user.climber) if event_request.user.climber %>
                          </td>
                          <td>
                            <div class="d-flex">
                              <%= button_to 'Reject', reject_event_request_path(event_request), method: :post, remote: true, class: 'btn btn-danger btn-sm me-2', data: { turbo: false } %>
                              <%= button_to 'Accept', accept_event_request_path(event_request), method: :post, remote: true, class: 'btn btn-success btn-sm', data: { turbo: false } %>
                            </div>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% end %>

          <!-- Rejected Guests -->
          <% if current_user == @availability.user %>
            <div class="col" style="padding-bottom: 10px;">

              <h4 id="rejected_guests_header">Rejected </h4>

              <ul class="list-group" id="rejected_guests_list">
                <% @event_requests.select { |er| er.status == 'rejected' }.each do |event_request| %>
                  <li class="list-group-item" id="event_request_<%= event_request.id %>">
                    <%= link_to event_request.user.username, climber_path(event_request.user.climber) if event_request.user.climber %>
                  </li>
                <% end %>
              </ul>

            </div>

          </div>

        </div>

      <% end %>

    </div>
    <div class="col-md-8">
      <div style="padding-top: 15px;">
        <h4>Description</h4>
        <div class="card mb-3">
          <div class="card-body">
            <%= @availability.description %>
          </div>
        </div>
      </div>

      <h4>Comments</h4>
      <div class="card mb-3">
        <div class="card-body">
          <% @comments.each do |comment| %>

            <div class="d-flex justify-content-between">
              <p><strong><%= comment.user.username %>:</strong> <%= comment.body %></p>
              <% if current_user == comment.user %>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton<%= comment.id %>" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-ellipsis-v"></i>
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton<%= comment.id %>">
                    <li>
                      <%= button_to 'Delete', 
                                availability_comment_path(@availability, comment),
                                method: :delete,
                                data: { confirm: 'Are you sure?' },
                                class: 'dropdown-item' %>
                    </li>
                  </ul>
                </div>
              <% end %>
            </div>

          <% end %>
        </div>
      </div>

      <%= form_for([@availability, @availability.comments.new], html: { class: "mb-3" }) do |f| %>
        <div class="form-group">
          <%= f.text_area :body, class: "form-control", rows: 3 %>
        </div>

        <div class="form-group d-flex justify-content-end">
          <%= f.button 'Comment<i class="fas fa-paper-plane"></i>'.html_safe, type: :submit, class: "btn btn-primary" %>
        </div>

      <% end %>
    </div>
  </div>

  <% if policy(@availability).update? && policy(@availability).destroy? %>
    <div class="col-md-4">
      <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-cog"></i>
        </a>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><%= link_to "Edit this availability", edit_availability_path(@availability), class: 'dropdown-item' %></li>
          <li><%= button_to "Destroy this availability", @availability, method: :delete, class: 'dropdown-item', data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
